.custom-section {
  display: flex;
  justify-content: center;
  align-items: center;
    height: 500px; 
    width: 100%;
    background-image: url('/public/Images/background.jpg');
    backdrop-filter: blur(5px);
  }



  .image-overlay {
    position: relative;
    align-items: center;
    top: 0;
    left: 0;
    
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 60px;
    text-align: center;
  }
  
  .image-overlay h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .image-overlay p {
    font-size: 1.2rem;
  }
  

  
  
  
  
  
  
  