.custom-section3 {
    display: flex;
    justify-content: center;
    min-height: 500px;
    align-items: center;
      width: 100%;/* Set your desired height here */
      background-image: url('/public/Images/background.jpg');
      backdrop-filter: blur(5px);
    }

    .movie-album-container {
      padding-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 20px;
    }
    
    .movie-album {
      flex: 1 0 calc(33.33% - 20px); 
    }
    
  
  
    .image-overlay1 {
      align-items: center;
      height: 100%;
      color: white;
      text-align: center;
    }

    


  
    
    
    
    
    
    
    