.form1 {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Horizontally center the items */
    align-items: center; /* Vertically center the items */
  }

  .button1{
    margin-right: 10px;
  }